@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Developer"]</p>
<address>
    <strong>More information: </strong><a href="http://www.linkedin.com/in/ayrton-borges-junior">LinkedIn profile</a>
</address>
